body {
  font-family: sans-serif;
}

h1 {
  color: black;
}

p {
  color: black;
}

.box {
  height: 300px;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.box.dark {
  background: linear-gradient(to bottom, #1a1a1a, #000);
}

.box.light {
  background: linear-gradient(to bottom, #f0f0f0, #ddd);
}

.box.crazy {
  background: linear-gradient(to bottom, rgb(27, 185, 158), rgb(144, 81, 171));
}